*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Experience --------------------------------------------- */

.experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

/* Page Wrapper --------------------------------------------- */

.app{
    index: 3;
    position: absolute;
    color: rgb(0,0,0)
}